In [60]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('student-por.csv')
df.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;NaN;18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";NaN;"U";"GT3";"T";1;1;"at_home";"other"...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [61]:
df = pd.read_csv('student-por.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [62]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [63]:
pd.options.display.max_columns = None

In [64]:
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11

In [65]:
df['age'] = df['age'].fillna(df['age'].median())

In [66]:
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())

In [67]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [68]:
categorical_columns = df.columns[df.dtypes==object].tolist()
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
hot = ohe.fit_transform(df[categorical_columns])
hot_df = pd.DataFrame(hot.toarray())
hot_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [69]:
print(hot)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 17)	1.0
  (1, 20)	1.0
  :	:
  (647, 27)	1.0
  (647, 29)	1.0
  (647, 31)	1.0
  (647, 33)	1.0
  (647, 35)	1.0
  (647, 38)	1.0
  (647, 40)	1.0
  (647, 41)	1.0
  (648, 1)	1.0
  (648, 3)	1.0
  (648, 4)	1.0
  (648, 7)	1.0
  (648, 9)	1.0
  (648, 13)	1.0
  (648, 17)	1.0
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0

In [70]:
hot

<649x43 sparse matrix of type '<class 'numpy.float64'>'
	with 11033 stored elements in Compressed Sparse Row format>

In [71]:
cold_df = df.select_dtypes(exclude=["object"])
cold_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18.0,4,4,2,2,0,4,3,4,1,1,3,4,0,11,11
1,17.0,1,1,1,2,0,5,3,3,1,1,3,2,9,11,11
2,15.0,1,1,1,2,0,4,3,2,2,3,3,6,12,13,12
3,15.0,4,2,1,3,0,3,2,2,1,1,5,0,14,14,14
4,16.0,3,3,1,2,0,4,3,2,1,2,5,0,11,13,13

In [72]:
# Constructing an empty matrix
from scipy.sparse import csr_matrix

cold = csr_matrix(cold_df)

from scipy.sparse import hstack
final_sparse_matrix = hstack((hot, cold))

final_df = pd.DataFrame(final_sparse_matrix.toarray())
final_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [73]:
from sklearn.base import TransformerMixin 
class NullValueImputer(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        for column in X.columns.tolist():
            if column in X.columns[X.dtypes==object].tolist():
                X[column] = X[column].fillna(X[column].mode())
            else:
                X[column]=X[column].fillna(X[column].median())
        return X

In [74]:
df = pd.read_csv('student-por.csv', sep=';')
nvi = NullValueImputer().fit_transform(df)
nvi.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [75]:
class SparseMatrix(TransformerMixin):
    def __init__(self):
        None
    def fit(self, X, y=None):
        return self
    def transform(self, X, y=None):
        categorical_columns= X.columns[X.dtypes==object].tolist()
        ohe = OneHotEncoder() 
        hot = ohe.fit_transform(X[categorical_columns])
        cold_df = X.select_dtypes(exclude=["object"])
        cold = csr_matrix(cold_df)
        final_sparse_matrix = hstack((hot, cold))
        # x is coo_matrix
        final_csr_matrix = final_sparse_matrix.tocsr()
        return final_csr_matrix

In [76]:
sm = SparseMatrix().fit_transform(nvi)
print(sm)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (0, 43)	18.0
  (0, 44)	4.0
  (0, 45)	4.0
  (0, 46)	2.0
  (0, 47)	2.0
  (0, 49)	4.0
  (0, 50)	3.0
  (0, 51)	4.0
  :	:
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0
  (648, 43)	18.0
  (648, 44)	3.0
  (648, 45)	2.0
  (648, 46)	3.0
  (648, 47)	1.0
  (648, 49)	4.0
  (648, 50)	4.0
  (648, 51)	1.0
  (648, 52)	3.0
  (648, 53)	4.0
  (648, 54)	5.0
  (648, 55)	4.0
  (648, 56)	10.0
  (648, 57)	11.0
  (648, 58)	11.0

In [77]:
sm_df = pd.DataFrame(sm.toarray())
sm_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,17.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [78]:
df = pd.read_csv('student-por.csv', sep=';')

In [79]:
y = df.iloc[:, -1]
X = df.iloc[:, :-3]

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [81]:
from sklearn.pipeline import Pipeline
data_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix())])
X_train_transformed = data_pipeline.fit_transform(X_train)

In [82]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [83]:
y_train.value_counts()

11    82
10    75
13    58
12    53
14    42
15    36
9     29
16    27
8     26
17    24
18    14
0     10
7      7
19     1
6      1
5      1
Name: G3, dtype: int64

In [84]:
kfold = KFold(n_splits=5, shuffle=True, random_state=2)

In [85]:
def cross_val(model):
    scores = cross_val_score(model, X_train_transformed, y_train, scoring='neg_root_mean_squared_error', cv=kfold)
    rmse = (-scores.mean())
    return rmse

In [86]:
cross_val(XGBRegressor(objective='reg:squarederror'))

2.9702248207546296

In [87]:
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_transformed, y_train, random_state=2)

In [88]:
def n_estimators(model):
    eval_set = [(X_test_2, y_test_2)]
    eval_metric="rmse"
    model.fit(X_train_2, y_train_2, eval_metric=eval_metric, eval_set=eval_set, early_stopping_rounds=100)
    y_pred = model.predict(X_test_2)
    rmse = MSE(y_test_2, y_pred)**0.5
    return rmse

In [89]:
n_estimators(XGBRegressor(n_estimators=5000))

[0]	validation_0-rmse:8.49176
Will train until validation_0-rmse hasn't improved in 100 rounds.
[1]	validation_0-rmse:6.31389
[2]	validation_0-rmse:4.97728
[3]	validation_0-rmse:4.16009
[4]	validation_0-rmse:3.66768
[5]	validation_0-rmse:3.42965
[6]	validation_0-rmse:3.28449
[7]	validation_0-rmse:3.18376
[8]	validation_0-rmse:3.15987
[9]	validation_0-rmse:3.16607
[10]	validation_0-rmse:3.16598
[11]	validation_0-rmse:3.13184
[12]	validation_0-rmse:3.13545
[13]	validation_0-rmse:3.13216
[14]	validation_0-rmse:3.13269
[15]	validation_0-rmse:3.13169
[16]	validation_0-rmse:3.10129
[17]	validation_0-rmse:3.10436
[18]	validation_0-rmse:3.10149
[19]	validation_0-rmse:3.10756
[20]	validation_0-rmse:3.10326
[21]	validation_0-rmse:3.09872
[22]	validation_0-rmse:3.09888
[23]	validation_0-rmse:3.09904
[24]	validation_0-rmse:3.10572
[25]	validation_0-rmse:3.10126
[26]	validation_0-rmse:3.09657
[27]	validation_0-rmse:3.09536
[28]	validation_0-rmse:3.09664
[29]	validation_0-rmse:3.09789
[30]	validation_0-rmse:3.09803
[31]	validation_0-rmse:3.09336
[32]	validation_0-rmse:3.10293
[33]	validation_0-rmse:3.10499
[34]	validation_0-rmse:3.10400
[35]	validation_0-rmse:3.10528
[36]	validation_0-rmse:3.10506
[37]	validation_0-rmse:3.10678
[38]	validation_0-rmse:3.10561
[39]	validation_0-rmse:3.10670
[40]	validation_0-rmse:3.10500
[41]	validation_0-rmse:3.10732
[42]	validation_0-rmse:3.10943
[43]	validation_0-rmse:3.10759
[44]	validation_0-rmse:3.10615
[45]	validation_0-rmse:3.10585
[46]	validation_0-rmse:3.10695
[47]	validation_0-rmse:3.10620
[48]	validation_0-rmse:3.10847
[49]	validation_0-rmse:3.10736
[50]	validation_0-rmse:3.10631
[51]	validation_0-rmse:3.10588
[52]	validation_0-rmse:3.10461
[53]	validation_0-rmse:3.10369
[54]	validation_0-rmse:3.10464
[55]	validation_0-rmse:3.10586
[56]	validation_0-rmse:3.10595
[57]	validation_0-rmse:3.10686
[58]	validation_0-rmse:3.10753
[59]	validation_0-rmse:3.10755
[60]	validation_0-rmse:3.10811
[61]	validation_0-rmse:3.10870
[62]	validation_0-rmse:3.10863
[63]	validation_0-rmse:3.10835
[64]	validation_0-rmse:3.10710
[65]	validation_0-rmse:3.10723
[66]	validation_0-rmse:3.10675
[67]	validation_0-rmse:3.10686
[68]	validation_0-rmse:3.10657
[69]	validation_0-rmse:3.10570
[70]	validation_0-rmse:3.10630
[71]	validation_0-rmse:3.10502
[72]	validation_0-rmse:3.10345
[73]	validation_0-rmse:3.10346
[74]	validation_0-rmse:3.10279
[75]	validation_0-rmse:3.10313
[76]	validation_0-rmse:3.10310
[77]	validation_0-rmse:3.10331
[78]	validation_0-rmse:3.10347
[79]	validation_0-rmse:3.10344
[80]	validation_0-rmse:3.10341
[81]	validation_0-rmse:3.10312
[82]	validation_0-rmse:3.10322
[83]	validation_0-rmse:3.10343
[84]	validation_0-rmse:3.10378
[85]	validation_0-rmse:3.10415
[86]	validation_0-rmse:3.10419
[87]	validation_0-rmse:3.10416
[88]	validation_0-rmse:3.10419
[89]	validation_0-rmse:3.10423
[90]	validation_0-rmse:3.10456
[91]	validation_0-rmse:3.10446
[92]	validation_0-rmse:3.10460
[93]	validation_0-rmse:3.10455
[94]	validation_0-rmse:3.10462
[95]	validation_0-rmse:3.10449
[96]	validation_0-rmse:3.10437
[97]	validation_0-rmse:3.10445
[98]	validation_0-rmse:3.10446
[99]	validation_0-rmse:3.10442
[100]	validation_0-rmse:3.10438
[101]	validation_0-rmse:3.10441
[102]	validation_0-rmse:3.10442
[103]	validation_0-rmse:3.10438
[104]	validation_0-rmse:3.10439
[105]	validation_0-rmse:3.10434
[106]	validation_0-rmse:3.10433
[107]	validation_0-rmse:3.10433
[108]	validation_0-rmse:3.10426
[109]	validation_0-rmse:3.10425
[110]	validation_0-rmse:3.10432
[111]	validation_0-rmse:3.10432
[112]	validation_0-rmse:3.10441
[113]	validation_0-rmse:3.10442
[114]	validation_0-rmse:3.10439
[115]	validation_0-rmse:3.10437
[116]	validation_0-rmse:3.10438
[117]	validation_0-rmse:3.10440
[118]	validation_0-rmse:3.10446
[119]	validation_0-rmse:3.10448
[120]	validation_0-rmse:3.10447
[121]	validation_0-rmse:3.10450
[122]	validation_0-rmse:3.10450
[123]	validation_0-rmse:3.10450
[124]	validation_0-rmse:3.10450
[125]	validation_0-rmse:3.10450
[126]	validation_0-rmse:3.10450
[127]	validation_0-rmse:3.10450
[128]	validation_0-rmse:3.10450
[129]	validation_0-rmse:3.10450
[130]	validation_0-rmse:3.10450
[131]	validation_0-rmse:3.10450
Stopping. Best iteration:
[31]	validation_0-rmse:3.09336

3.0933612343143153

In [90]:
def grid_search(params, reg=XGBRegressor(objective='reg:squarederror')):
    grid_reg = GridSearchCV(reg, params, scoring='neg_mean_squared_error', cv=kfold)
    grid_reg.fit(X_train_transformed, y_train)
    best_params = grid_reg.best_params_
    print("Best params:", best_params)
    best_score = np.sqrt(-grid_reg.best_score_)
    print("Best score:", best_score)

In [91]:
grid_search(params={'max_depth':[1, 2, 3, 4, 6, 7, 8], 
                    'n_estimators':[81]})

Best params: {'max_depth': 1, 'n_estimators': 81}
Best score: 2.680291759857477

In [92]:
grid_search(params={'max_depth':[1, 2, 3], 
                    'min_child_weight':[1,2,3,4,5], 
                    'n_estimators':[81]})

Best params: {'max_depth': 1, 'min_child_weight': 1, 'n_estimators': 81}
Best score: 2.680291759857477

In [93]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[1,2,3],
                    'subsample':[0.5, 0.6, 0.7, 0.8, 0.9],
                   'n_estimators':[81]})

Best params: {'max_depth': 2, 'min_child_weight': 2, 'n_estimators': 81, 'subsample': 0.9}
Best score: 2.7752986866701246

In [94]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[0.6, 0.7, 0.8], 
                    'colsample_bytree':[0.5, 0.6, 0.7, 0.8, 0.9],
                   'n_estimators':[81]})

Best params: {'colsample_bytree': 0.9, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.8}
Best score: 2.842793904459226

In [95]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[0.6, 0.7, 0.8, 0.9, 1], 
                    'colsample_bytree':[0.7, 0.8, 0.9, 1],
                   'n_estimators':[81]})

Best params: {'colsample_bytree': 0.8, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 1}
Best score: 2.72918912916733

In [96]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[.9], 
                    'colsample_bytree':[0.8],
                    'colsample_bylevel':[0.6, 0.7, 0.8, 0.9, 1],
                    'colsample_bynode':[0.6, 0.7, 0.8, 0.9, 1],
                    'n_estimators':[81]})

Best params: {'colsample_bylevel': 0.9, 'colsample_bynode': 0.7, 'colsample_bytree': 0.8, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.9}
Best score: 2.7314032342357124

In [97]:
grid_search(params={'max_depth':[2],
                    'min_child_weight':[3], 
                    'subsample':[.9], 
                    'colsample_bytree':[0.8],
                    'gamma':[0, 0.01, 0.1, 0.5, 1, 2, 4],
                    'n_estimators':[81]})

Best params: {'colsample_bytree': 0.8, 'gamma': 4, 'max_depth': 2, 'min_child_weight': 3, 'n_estimators': 81, 'subsample': 0.9}
Best score: 2.7056079565891022

In [98]:
cross_val(XGBRegressor(max_depth=2,
                       min_child_weight=3,
                       subsample=0.9, 
                       colsample_bytree=0.8, 
                       gamma=2, 
                       objective='reg:squarederror',
                       booster='dart',
                      one_drop=True))

2.764331952424822

In [99]:
X_test_transformed = data_pipeline.fit_transform(X_test)

In [100]:
type(y_train)

pandas.core.series.Series

In [101]:
model = XGBRegressor(max_depth=2, min_child_weight=3, subsample=0.9, colsample_bytree=0.8, gamma=2, objective='reg:squarederror')
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

2.8239201133705776

In [ ]:
model = XGBRegressor(max_depth=2, min_child_weight=4, subsample=0.8, colsample_bytree=0.8, gamma=2, objective='reg:squarederror')
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

In [45]:
from sklearn.linear_model import LinearRegression

In [49]:
full_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix()), ('xgb', LinearRegression())])

In [48]:
full_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix()), ('xgb', XGBRegressor(max_depth=2, min_child_weight=4, subsample=0.8, colsample_bytree=0.8, gamma=2, objective='reg:squarederror'))])

In [50]:
full_pipeline.fit(X, y)

Pipeline(steps=[('null_imputer',
                 <__main__.NullValueImputer object at 0x7fe3d0cdc610>),
                ('sparse', <__main__.SparseMatrix object at 0x7fe3d0cdc690>),
                ('xgb', LinearRegression())])

In [51]:
new_data = X_test
full_pipeline.predict(new_data)

array([12.94493301,  9.47700974, 12.50997494, 13.77891529, 12.31892393,
       11.43926348, 14.01810625, 11.41518705, 12.49920168, 12.25487525,
       13.96642231,  8.80646755, 13.42956408, 13.21930312, 13.68094682,
        9.21879227,  9.98147398,  9.89896867, 13.98438341,  9.99212642,
       12.36828211, 13.26854061,  8.17845338, 12.38589123,  7.12415344,
        8.40819496, 10.55190513, 13.45550187, 13.65944344, 12.65895788,
       10.84508257, 11.36838156, 15.13543571, 11.18397183, 10.52745085,
       13.94033023, 13.1825468 , 10.56405049,  6.95024887, 12.77355096,
       11.39342876, 10.55377732, 11.70811134, 13.8362607 , 13.4705466 ,
       15.39901363, 12.53271706, 12.70724698, 12.96737938, 11.74371448,
       14.42854887,  8.67593599,  7.73466194, 12.55276677, 14.81809133,
        9.84142797, 13.32350959,  9.76279852, 13.26746907, 12.411412  ,
       13.74452407,  7.61235773,  9.2066238 , 12.33773654, 13.96480519,
       11.75712083, 13.12289669, 12.93387661, 11.73744704, 10.64684048,
       12.65896312, 12.61067446, 12.79842374,  6.94571067, 14.14857257,
       11.75201767, 14.01127918, 14.36592468, 11.80557001,  9.58697271,
       12.39734895,  9.38626437, 11.21647921, 11.7229763 , 14.74827529,
       10.62618419,  9.98508272, 12.08298589, 14.28325554, 14.59127232,
       11.95437998,  9.3939028 , 13.79052482, 11.55109319, 11.90699768,
       12.95273403, 13.30608947,  9.02944152, 13.33725574, 14.17041569,
       13.32485791,  8.9309407 , 13.03302002, 12.98993455, 12.86035724,
       14.55039613, 12.31868742, 10.30499225,  7.77819216, 13.66542707,
        6.46998427, 10.46388207, 12.58778319, 11.51465827, 14.14099879,
       11.5187811 , 11.56219484, 12.06448129, 12.31112241, 11.60565715,
       13.22804691,  9.6594094 , 12.90493298,  9.91729769, 13.64149966,
       10.96371579, 15.22887276, 14.28428517, 11.4863428 , 13.27427291,
       10.19031031, 13.86632218,  8.5286889 ,  8.93749191, 12.72061591,
       12.98493124,  9.60280221, 11.02504364, 13.87700082, 13.80695964,
       11.02695796, 12.25727778, 12.40240374, 13.12836253, 12.92912187,
       10.48941811, 13.56874518, 13.29872687, 14.74315182, 13.23598183,
        8.74781697,  9.78156751, 12.16097705,  7.3080742 ,  6.94723325,
       12.07343344, 13.80644478, 13.18179963, 12.28368161,  9.81359678,
       12.03882224, 12.08860504,  9.03015684])

In [52]:
np.round(full_pipeline.predict(new_data))

array([13.,  9., 13., 14., 12., 11., 14., 11., 12., 12., 14.,  9., 13.,
       13., 14.,  9., 10., 10., 14., 10., 12., 13.,  8., 12.,  7.,  8.,
       11., 13., 14., 13., 11., 11., 15., 11., 11., 14., 13., 11.,  7.,
       13., 11., 11., 12., 14., 13., 15., 13., 13., 13., 12., 14.,  9.,
        8., 13., 15., 10., 13., 10., 13., 12., 14.,  8.,  9., 12., 14.,
       12., 13., 13., 12., 11., 13., 13., 13.,  7., 14., 12., 14., 14.,
       12., 10., 12.,  9., 11., 12., 15., 11., 10., 12., 14., 15., 12.,
        9., 14., 12., 12., 13., 13.,  9., 13., 14., 13.,  9., 13., 13.,
       13., 15., 12., 10.,  8., 14.,  6., 10., 13., 12., 14., 12., 12.,
       12., 12., 12., 13., 10., 13., 10., 14., 11., 15., 14., 11., 13.,
       10., 14.,  9.,  9., 13., 13., 10., 11., 14., 14., 11., 12., 12.,
       13., 13., 10., 14., 13., 15., 13.,  9., 10., 12.,  7.,  7., 12.,
       14., 13., 12., 10., 12., 12.,  9.])

In [53]:
new_df = pd.read_csv('student-por.csv')
new_X = df.iloc[:, :-3]
new_y = df.iloc[:, -1]
new_model = full_pipeline.fit(new_X, new_y)

In [54]:
more_new_data = X_test[:25]
np.round(new_model.predict(more_new_data))

array([13.,  9., 13., 14., 12., 11., 14., 11., 12., 12., 14.,  9., 13.,
       13., 14.,  9., 10., 10., 14., 10., 12., 13.,  8., 12.,  7.])

In [55]:
single_row = X_test[:1]
single_row_plus = pd.concat([single_row, X_test[:25]])
print(np.round(new_model.predict(single_row_plus))[:1])

[13.]

In [ ]:
# Constructing an empty matrix
from scipy.sparse import coo_matrix
coo_matrix((3, 4), dtype=np.int8).toarray()

In [ ]:
# Constructing a matrix using ijv format
row  = np.array([0, 3, 1, 0])
col  = np.array([0, 3, 1, 2])
data = np.array([4, 5, 7, 9])
coo_matrix((data, (row, col)), shape=(4, 4)).toarray()

In [ ]:
print(coo_matrix((data, (row, col)), shape=(4, 4)))

In [ ]:
# Constructing a matrix with duplicate indices
row  = np.array([0, 0, 1, 3, 1, 0, 0])
col  = np.array([0, 2, 1, 3, 1, 0, 0])
data = np.array([1, 1, 1, 1, 1, 1, 1])
coo = coo_matrix((data, (row, col)), shape=(4, 4))
# Duplicate indices are maintained until implicitly or explicitly summed
np.max(coo.data)

In [ ]:
coo.toarray()